{% extends 'base.html.twig' %}

{% block title %}Hello WorkoutController!{% endblock %}

{% block body %}
    {{ form_start(workoutForm) }}
        {{ form_widget(workoutForm) }}
        <button type="submit" class="btn btn-primary">Add!</button>
    {{ form_end(workoutForm) }}
{% endblock %}
